body {
  background-color: #121212;
}

/*********** CLASS **********/

.subjects {
  text-align: center;
  color: #fff;
  background-color: #424242;
  display: inline-block;
  font-size: large;
  padding: 5px 5px;
  margin: 10px 10px;
}

.daily-img {
  width: 49%;
  display: inline;
}